@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

.header-inner {margin-top: 20px;}

/* 텍스트 박스 */
.toptxt {margin-top: 140px; margin-left: 100px; font-family: 'Abhaya Libre' !important; font-weight: bold;}

h1 {font-size: 130px; }

.toptxt > span {font-size: 80px; font-weight: bold;}

.img {display: flex; justify-content: center; margin-top: 50px;}

.img > img {width: 1720px; height: 530px;}

.cambg {position: absolute;}

.cambg > img {width: 1000px; height: 714px; margin-top: 70px;}

.cambg > p { position: absolute; top: 280px;
 left: 180px;font-family: 'Abhaya Libre' !important; font-size: 50px; font-weight: 600;}

.cambg > span {position: absolute; top: 400px; left: 180px; font-size: 60px; font-weight: 500; line-height: 30px;}

h4 { position: absolute; top: 520px; left: 180px; font-size: 18px; font-weight: normal;}


/* 말풍선, 검색창 */

.textbox {position: absolute; top: 1200px; right: 140px;}

input {box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, .2); outline-style: none;}

.box-inner {position: absolute; top: 1600px; right: 200px;width: 500px; vertical-align: middle; white-space: nowrap;}

.box-inner input#search {width: 500px; height: 80px; padding-left: 45px; border: none; float: left; background: #F3F3F3; font-size: 10pt; color: #63717f; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;}

.box-inner .icon {position: absolute; padding: 18px; font-size: 40px; color: #ffffff;}

.icon {position: absolute; right:0; width: 80px; height: 80px; background-color: #26EE3A; border-radius: 0 50px 50px 0;}


/* 콘텐츠 */

.content {position: relative; margin-top: 900px; display: flex; align-items: center; flex-direction: column;}

.con1 {position: relative; display: flex;}

.conbg1 {background-color: rgb(0, 0, 0, .4); position: absolute; left: 0; width: 570px;height: 790px; border-radius: 0 50px 50px 0;}

.date {position: absolute; left: 50px; top: 80px; font-size: 25px; color: #ffffff;}

.btn {position: absolute; right: 40px; bottom: 20px;}

.label {width: 440px; height: 80px; background-color: #00ABFB; position: absolute; left: -30px; top: 120px; border-radius: 0 50px 50px 0;}

.label p {font-size: 40px; position: absolute; top: 28px; color: #ffffff; left: 50px; font-weight: bold;}

.circle {background-color: #fff; width: 40px; height: 40px; border-radius: 50px; position: absolute; right: 30px; top: 20px; box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, .4) inset;}

.text {position: absolute; top: 300px; font-size: 24px; color: #ffffff; left: 30px;}

.con2 {position: relative; display: flex; margin-top: 150px;}

.btn1 {position: absolute; left: 40px; bottom: 20px;}

.text1 {position: absolute; top: 300px; font-size: 24px; color: #ffffff; right: 30px;}

.date1 {position: absolute; right: 50px; top: 80px; font-size: 25px; color: #ffffff;}

.conbg2 {background-color: rgb(0, 0, 0, .4); position: absolute; right: 0; width: 570px;height: 790px; border-radius: 50px 0 0 50px;}

.label1 {width: 440px; height: 80px; background-color: #26EE3A; position: absolute; right: -30px; top: 120px; border-radius: 50px 0 0 50px;}

.label1 p {font-size: 40px; position: absolute; top: 28px; color: #000000; right: 50px; font-weight: bold;}

.circle1 {background-color: #fff; width: 40px; height: 40px; border-radius: 50px; position: absolute; left: 30px; top: 20px; box-shadow: 3px 3px 5px 3px rgb(0, 0, 0, .4) inset;}

.con3 {position: relative; display: flex; margin-top: 150px;}

.conbg3 {background-color: rgb(0, 0, 0, .4); position: absolute; left: 0; width: 570px;height: 790px; border-radius: 0 50px 50px 0;}



